.conf_bs{
    background-image:url('./img/hawaii.jpg');
    background-position: center;
    position: relative;
    
}
nav div img{
    width: 20%;
}

.nav-link{
    color:#ffff;
    
}
.navbar{
    background-color:gray !important;
}

    
.navbar-brand{
   color: #ffff;

}

.parrafo-inicio{
    position: relative;
    color:#ffff;
    margin-top: 20%;
}
.oradores-seccion img{
    width: 100%;
    margin-bottom: 2rem;
}
.donde{
    max-width: 100%;
}
.formulario{
    max-width: 60%;
   
}
footer{
    background-color: rgb(13, 65, 94);
    display: flex;
    align-items: center;
}